# Cache Python
__pycache__/
*.py[cod]

# Dossiers de build et de cache
.dist/
.pytest_cache/
build/
dist/

# Embeddings (données volumineuses)
embeddings.json

# Configurations d'éditeurs de code
.vscode/
.idea/

# Fichiers de logs et temporaires
*.log
*.tmp
*.bak
*.swp
*.swo

# Environnements virtuels
venv/
.env/

# Fichiers système
.DS_Store
Thumbs.db

# Autres fichiers inutiles
*.egg-info/
